h1 {
    color: #3d3d3dc5;

    font-family: Arial, sans-self

    text-align center
}
.container{
    color: #707070;

    font-family: Arial, sans-self

    text-align center
}
body {
    color: #ff0000;

    font-family: Arial, sans-self

    text-align center
}